{'$repos',#{<<"hexpm">> => #{url => <<"https://repo.hex.pm">>}}}.
{'$oauth_token',#{<<"access_token">> =>
                      <<"eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJoZXhwbTphcGkiLCJleHAiOjE3Nzk4NDE3NDksImlhdCI6MTc3OTgzOTk0OSwiaXNzIjoiaGV4cG0iLCJqdGkiOiJkNE5nczgtbzExMldVUXlDSGZVY1VnIiwibmJmIjoxNzc5ODM5OTE5LCJzY29wZSI6ImFwaTpyZWFkIGFwaTp3cml0ZSByZXBvc2l0b3J5OmhleHBtIiwic3ViIjoidXNlcjp6bXpsb2lzIn0.9RtkoUV4kIhVuNn_aPkGCDopu5c8dOJyVy8bCMty8fRjh-4KTIXeqzGwSEKT18TQvvjTAVeQwS_5goKxRE-jlQ">>,
                  <<"expires_at">> => 1779841748,
                  <<"refresh_token">> =>
                      <<"eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJoZXhwbTphcGkiLCJleHAiOjE3ODI0MzE5NDksImlhdCI6MTc3OTgzOTk0OSwiaXNzIjoiaGV4cG0iLCJqdGkiOiJ5TFFZaFdOMGNpU2NCYktFQnJ1b3Z3IiwibmJmIjoxNzc5ODM5OTE5LCJzY29wZSI6ImFwaTpyZWFkIGFwaTp3cml0ZSByZXBvc2l0b3J5OmhleHBtIiwic3ViIjoidXNlcjp6bXpsb2lzIn0.fO0PbhZN76IDQpFZsukoi_0pwkQ3Mj63A-CI4Wbb9aacy0wjhxed3DKTkmN-7nkPnBLdZFUvLlQxmqp-U_SO0w">>}}.
